html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 56px;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Offset anchor targets for fixed navbar */
:target::before {
  content: "";
  display: block;
  height: 56px; /* Height of your fixed navbar */
  margin-top: -60px; /* Negative value of the navbar height */
}

.maven-font {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.custom-nav {
  background-image: linear-gradient(90deg, #5318eb, #ab6ef9);
}

.site-text-color,
.navbar-brand,
.custom-nav .nav-link {
  color: hsla(0, 0%, 100%, .8);
}

.custom-nav .nav-link.active,
.navbar-brand:hover,
.custom-nav .nav-link:hover {
  color: #fff;
}

.heading {
  color: #2b2a35;
  font-size: 44px;
  padding-top:2rem ;
}

@media (max-width: 991.98px) {
  .brand-container {
    align-items: center;
  }

  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}
.navbar.fixed-bottom {
  display: flex;
  justify-content: space-around;
  background: #5318eb;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  transition: transform 0.3s ease-in-out;
}

.navbar.fixed-bottom.hidden {
  transform: translateY(100%);
}


.bg-purple {
  background-color: #6f42c1;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-brand,
.job-role {
  margin-bottom: 0;
}

.job-role {
  color: #fff;
  font-size: 16px;
}

/* START ANIMATION OF LOGO */

.navbar-brand {
  position: relative;
  display: flex;
  /* Use flexbox for alignment */
  align-items: center;
  white-space: nowrap;
  height: 40px;
  /* Adjust based on your navbar height */
  line-height: 40px;
  /* Center text vertically */
  color: white;
  /* Ensure text is visible */
  font-size: 1.25rem;
  /* Adjust font size as needed */
  overflow: hidden;
  /* Hide overflow */
}

.full-name {
  transition: transform 1s ease, opacity 1s ease;
}

.initials {
  transition: opacity 1s ease;
  opacity: 0;
  /* Initially hidden */
  position: absolute;
}

.navbar-brand.scrolled .full-name {
  transform: translateX(-150%);
  /* Move out of view */
  opacity: 0;
  /* Hide full name */
}

.navbar-brand.scrolled .initials {
  opacity: 1;
  /* Show initials */
}

/* END ANIMATION OF LOGO */

/* START OF PROJECT CARDS */

.card-img-container {
  overflow: hidden;
  height: 200px;
  /* Height of the visible area */
  position: relative;
}

.project-img {
  width: 100%;
  height: auto;
  /* Ensure the image maintains aspect ratio */
  transition: transform 6.5s ease;
}

.project-card:hover .project-img {
  transform: translateY(calc(200px - 100%));
  /* Adjust the transform to scroll only the required amount */
}

.project-card {
  margin-bottom: 30px;
}

/* END OF PROJECT CARDS */

/* HERO BANNER */

.hero-banner {
  background-image: linear-gradient(90deg, #5318eb, #ab6ef9);
  font-family: "Maven Pro", sans-serif;
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: rgba(255, 255, 255, 0.1);
  /* Adjust the color and opacity */
  z-index: 1;
}

.hero-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.hero-banner p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.hero-banner .cta-btn {
  font-size: 1rem;
  color: #6b53ff;
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.hero-banner .cta-btn:hover {
  background-color: #6b53ff;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  .job-role {
    display: none !important;
  }

  .offcanvas-collapse {
    background-image: linear-gradient(90deg, #5318eb, #ab6ef9);
  }

  .hero-banner {
    height: 100vh;
    padding: 80px 10px;
  }

  .hero-banner h1 {
    font-size: 2rem;
  }

  .hero-banner p {
    font-size: 1rem;
  }

  .hero-banner .cta-btn {
    font-size: 1rem;
    padding: 10px 15px;
  }

  .about-lines-wrapper{
    padding-top: 40px;
  }

  .about-line-2 {
    font-size: 30px;
  }

  .about-line-3 {
    font-size: 25px;
  }
}

/* ABOUT */

@media (min-width:768px) {
  .about-circle-img img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
  } 
  
  #about .row {
    align-items: center;
    justify-content : center;
  }
  
  .about-line-2 {
    font-size: 50px;
  }
  
  .about-line-3 {
    font-size: 40px;
  }
}

.about-circle-img img {
  border-radius: 50%;
}

#about{
  padding: 50px 0;
}

.about-line-1 {
  color: #5318EB;
}

.about-line-2 {
  text-transform: uppercase;
  font-weight: 700;
}

.about-line-3 {
  font-weight: 600;
}

/* Footer navigation for mobile */

.navbar.fixed-bottom {
  display: flex;
  justify-content: space-around;
  background: #5318eb;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

.navbar.fixed-bottom .nav-link {
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
}

.navbar.fixed-bottom .nav-link i {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.navbar.fixed-bottom .nav-link span {
  display: block;
  font-size: 0.75rem;
}

.navbar.fixed-bottom .nav-link.active {
  color: #fff;
}

.navbar.fixed-bottom .nav-link:hover {
  color: #ddd;
}

/* Footer */

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  color: #6c757d;
}
