/* EXPERIENCE */
#experience,
.footer {
    background-image: linear-gradient(90deg, #5318eb, #ab6ef9);
    font-family: "Maven Pro", sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
}

#experience {
    padding-bottom: 3rem;

}

#experience .heading {
    color: #fff;
}


/* new */



.cta-btn {
    font-size: 1rem;
    color: #6b53ff;
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #6b53ff;
    color: #fff;
    /* border: 1px solid #fff; */
}

#experience .cta-btn {
    margin-right: 20px;
    background: none;
    color: #fff !important;
    font-size: 18px !important;
  font-weight: 600 !important;
}

#experience .cta-btn.active {
    color: #6b53ff !important;
    background-color: #fff !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.dark-mode #experience .cta-btn {
    color: #6b53ff !important;
}

.dark-mode #experience {
    background-color: #121212;
    background-image: none;

}